<header class="landing-header">
  <div class="wrap">
    <div class="contents">
        <div class="primary">
            <div class="header-title">
                <a href="/welcome">
                    <img src="https://mathbymiles.com/uploads/default/original/1X/6eb956399e38ca1fef362e4591818a36df3a4ad8.png" alt="Math By Miles" id="site-logo">
                </a>
            </div>
            <ul class="menu">
                <li class="primary-item">
                    <a href="/pub/how-it-works" class="primary-item-link">
                        <label>how it works</label>
                    </a>
                </li>
                <li class="primary-item">
                    <a href="/s/prod_J1IfcowxsGw8Fd" class="primary-item-link">
                        <label>pricing</label>
                    </a>
                </li>
                <li class="primary-item">
                    <a href="/pub/become-a-tutor" class="primary-item-link">
                        <label>become a tutor</label>
                    </a>
                </li>
            </ul>
        </div>
        <div class="panel">
            <span class="header-buttons">
                <a href="/" class="btn btn-primary launch-button">Launch</a>
            </span>
        </div>
    </div>
  </div>
</header>



<div class="landing page">
  <div class="container">
    <div class="title-container"></div>
    <div class="text-container"></div>
    <img>
  </div>
</div>
<div class="page first">
  <div class="container">
  </div>
</div>
<div class="page second">
  <div class="container">
  </div>
</div>
<div class="page third">
  <div class="container">
  </div>
</div>
<footer class="landing-footer">
</footer>
