<header class="landing-header">
  <div class="wrap">
    <div class="contents">
        <div class="primary">
            <div class="header-title">
                <a href="/welcome">
                    <img src="https://mathbymiles.com/uploads/default/original/1X/6eb956399e38ca1fef362e4591818a36df3a4ad8.png" alt="Math By Miles" id="site-logo">
                </a>
            </div>
            <ul class="menu">
                <li class="primary-item">
                    <a href="https://mathbymiles.com/welcome#how-it-works" class="primary-item-link">
                        <label>how it works</label>
                    </a>
                </li>
                <li class="primary-item">
                    <a href="/s/prod_J1IfcowxsGw8Fd" class="primary-item-link">
                        <label>pricing</label>
                    </a>
                </li>
                <li class="primary-item">
                    <a href="/pub/become-a-tutor" class="primary-item-link">
                        <label>become a tutor</label>
                    </a>
                </li>
            </ul>
        </div>
        <div class="panel">
            <span class="header-buttons">
                <a href="/" class="btn btn-primary launch-button">Launch</a>
            </span>
        </div>
    </div>
  </div>
</header>



<div class="landing page">
  <div class="container">
    <div class="container-left">
      <img src="https://mathbymiles.com/uploads/default/original/1X/aa6e06d5ee08fd78372a0aaeec676eac87ecf191.svg" alt="Picture" id="landing-picture">
    </div>
    <div class="container-right">
      <div class="text-contents">
        Get Started
      </div>
      <a href="/s/prod_J1IfcowxsGw8Fd" class="btn btn-primary sign-up-button">Sign Up</a>
      <div class="text-contents-below">
        By signing up for Math By Miles, you agree to our <a href="/tos">Terms of Service</a> & <a href="/privacy">Privacy Policy</a>.
      </div>
    </div>
  </div>
</div>

<div class="page first">
  <div class="container">
    <div class="heading">
      <a class ="anchor" id="how-it-works"></a>
      <span class="primary-text">
        You have before you the best system for deeply learning math.
      </span>
      <span class="secondary-text">
        Online, real tutors, at your own pace. Ask anything.
      </span>
    </div>
    <ul class="list">
      <li class="item first">
        <div class="counter first">1</div>
        <div class="image first">
          <img src="https://mathbymiles.com/uploads/default/original/1X/168f48dab5a9a6125aca180fb8748d4e875f187e.png">
        </div>
        <div class="content first">
          <h3 class="subheading">Sign up for a plan</h3>
          <p class="description">Go the monthly or yearly route, whichever fits your needs. It's a fraction of the cost of normal tutors.</p>
        </div>
      </li>
      <li class="item second">
        <div class="counter second">2</div>
        <div class="image second">
          <img src="https://mathbymiles.com/uploads/default/original/1X/ef90e374be3d472e3e653f314cf4c70aa047dc7d.png">
        </div>
        <div class="content second">
          <h3 class="subheading">Know what you want to learn</h3>
          <p class="description">Do you need a sanity check on a quick calculation, or do you need long back-and-forth to deal with a complex problem? Start with figuring out what kind of help you need.</p>
        </div>
      </li>
      <li class="item third">
        <div class="counter third">3</div>
        <div class="image third">
          <img src="https://mathbymiles.com/uploads/default/original/1X/3a9692d6befa727a119dbad5186a4487f9c6b131.png">
        </div>
        <div class="content third">
          <h3 class="subheading">Connect with an expert tutor</h3>
          <p class="description">We’ll match you with tutors who specialize in your math subject areas, and are ready to help you right now..</p>
        </div>
      </li>
      <li class="item fourth">
        <div class="counter fourth">4</div>
        <div class="image fourth">
          <img src="https://mathbymiles.com/uploads/default/original/1X/e4df7a5f2c5d6dc473c491ca6d97b65a70308e83.png">
        </div>
        <div class="content fourth">
          <h3 class="subheading">Get instant feedback</h3>
          <p class="description">Work with the tutor in a live lesson question thread which can include the use of images and typed math directly in the editor. The tutor will stay with you until you’re satisfied that your question is answered!</p>
        </div>
      </li>
      <li class="item fifth">
        <div class="counter fifth">5</div>
        <div class="image fifth">
          <img src="https://mathbymiles.com/uploads/default/original/1X/a22b2e53298f9857e1b0cae7187ffdac0a22e87f.png">
        </div>
        <div class="content fifth">
          <h3 class="subheading">Ace homework and tests</h3>
          <p class="description">Watch your math skills grow. Learn everything you need to take your grades to the next level.</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="page second">
  <div class="container">
    <img src="https://mathbymiles.com/uploads/default/original/1X/778ac20a0f529a31abc15482cd401a507ee0281a.png" id="bars">
    <img src="https://mathbymiles.com/uploads/default/original/1X/e8f8c656b3ff6f1490a566928660f750d31d6993.png" id="dots">
    <h2 class="heading">
      <span class="primary-text">
        Ask <span class="color-text">any</span> math question
      </span>
      <span class="secondary-text">
        Get <span class="color-text">quick</span> and insightful answers
      </span>
    </h2>
    <ul class="list">
      <li class="item first">
        <div class="subheading-container">
          <h3 class="subheading">Beginner</h3>
        </div>
        <div class="tags-container">
          <ul class="tags">
            <li class="first">Algebra</li>
            <li class="first">Precalculus</li>
          </ul>
        </div>
        <p class="description">
          Master the fundamental language of mathematics. This path will prepare you for all further math subjects and technical fields.
        </p>
      </li>
      <li class="item second">
        <div class="subheading-container">
          <h3 class="subheading">Intermediate</h3>
        </div>
        <div class="tags-container">
          <ul class="tags">
            <li class="second">Calculus</li>
            <li class="second">Linear Algebra</li>
          </ul>
        </div>
        <p class="description">
          Go beyond just solving equations: learn the language of change and linear structures. This is a great introduction to higher mathematics.
        </p>
      </li>
      <li class="item second">
        <div class="subheading-container">
          <h3 class="subheading">Advanced</h3>
        </div>
        <div class="tags-container">
          <ul class="tags">
            <li class="third">Analysis</li>
            <li class="third">Group theory</li>
          </ul>
        </div>
        <p class="description">
          The kid gloves come off: learn how to actually prove things are true, and investigate deep theorems and results. This is real mathematics.
        </p>
      </li>
    </ul>
  </div>
</div>

<div class="page third">
  <img src="https://mathbymiles.com/uploads/default/original/1X/9e491f0b8d3212bcfe21e13c69f38fdd9b40bc4a.png" id="image_1">
  <img src="https://mathbymiles.com/uploads/default/original/1X/4906b86c94b47f707f4c8b0ab3a4b17810f6403d.png" id="image_2">
  <img src="https://mathbymiles.com/uploads/default/original/1X/01b2fe03caab4e337f159acc7291ab916ae39afc.png" id="image_3">
  <div class="container">
    <div class="text-container">
      <div class="primary-text">
        <span>It's time to start investing in yourself</span>
      </div>
      <div class="secondary-text">
        Because mastering math is the easiest way to become a true problem-solver.
      </div>
    </div>
    <div class="buttons">
      <a href="/s/prod_J1IfcowxsGw8Fd" class="btn btn-primary">Get Started</a>
    </div>
  </div>
</div>

<div id="landing-trust-badges-footer">
  <div class="wrap" id="badge-contents">
    <a href="https://www.stripe.com/" target = "_blank">
      <img src="https://mathbymiles.com/uploads/default/original/1X/65c70e51d40c1185b8bbfc1e4f5b81032df05831.png">
    </a>
    <div class="mfes-trustmark" data-type="102" data-width="60" data-height="25"></div>
  </div>
</div>

<footer class="landing-footer">
  <div class="wrap">
    <div class="flexbox">
      <div class="first-box">
        <div class="heading">
        </div>
        <div class="blurb">
          Math By Miles connects students with expert tutors who help them
          succeed in high school and college math classes, from pre-algebra
          to calculus and beyond. Get homework help fast!
        </div>
      </div>
      <div class="second-box">
        <div class="links">
          <div class="list">
            <span class="learn">
                LEARN
            </span>
            <ul>
              <li class="footer-section-link-wrapper about">
                <a class="footer-section-link" href="https://mathbymiles.com/about" target="">
                  About
                </a>
              </li>
              <li class="footer-section-link-wrapper faq">
                <a class="footer-section-link" href="https://mathbymiles.com/faq" target="">
                  FAQ
                </a>
              </li>
              <li class="footer-section-link-wrapper pricing">
                <a class="footer-section-link" href="https://mathbymiles.com/s/prod_J1IfcowxsGw8Fd" target="">
                  Pricing
                </a>
              </li>
            </ul>
          </div>
          <div class="list">
            <span class="info">
              INFO
            </span>
            <ul>
              <li class="footer-section-link-wrapper contact-us">
                <a class="footer-section-link" href="https://mathbymiles.com/pub/contact" target="">
                  Contact Us
                </a>
              </li>
              <li class="footer-section-link-wrapper terms-of-use">
                <a class="footer-section-link" href="https://mathbymiles.com/tos" target="">
                  Terms of Use
                </a>
              </li>
              <li class="footer-section-link-wrapper honor-code">
                <a class="footer-section-link" href="https://mathbymiles.com/pub/honor-code" target="">
                  Honor Code
                </a>
              </li>
            </ul>
          </div>
          <div class="list">
            <span class="extras">
              EXTRAS
            </span>
            <ul>
              <li class="footer-section-link-wrapper users">
                <a class="footer-section-link" href="https://www.mathbymiles.com/u" target="">
                  Users
                </a>
              </li>
              <li class="footer-section-link-wrapper become-a-tutor">
                <a class="footer-section-link" href="https://www.mathbymiles.com/pub/become-a-tutor" target="">
                  Become a Tutor
                </a>
              </li>
              <li class="footer-section-link-wrapper how-it-works">
                <a class="footer-section-link" href="https://mathbymiles.com/welcome#how-it-works" target="">
                  How It Works
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="third-box">
        <div class="footer-links">
          <a class="small-link privacy-policy" target="" href="https://mathbymiles.com/privacy">Privacy Policy</a>
          <a class="small-link sitemap" target="" href="https://mathbymiles.com/sitemap.xml">Sitemap</a>
          <a class="small-link ©-2021-math-by-miles" target="">© 2021 Math By Miles</a>
        </div>
        <div class="social">
          <a class="social-link facebook" target="_blank" href="https://www.facebook.com/mathbymiles">
            <img src="https://mathbymiles.com/uploads/default/original/1X/67b108b050a27c73fc7a7b970015e75f0655e764.svg">
          </a>
          <a class="social-link twitter" target="_blank" href="https://www.twitter.com/mathbymiles">
            <img src="https://mathbymiles.com/uploads/default/original/1X/1a9a930cc91cb75903252235eef7a3a8e2a205dd.svg">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Script for smooth scrolling on the landing page
<script>
  $('a[href*="#"]')
    .not('[href="#"]')
    .not('[href="#0"]')
    .click(function(event) {
       if (
        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
        &&
        location.hostname == this.hostname
      ) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' +   this.hash.slice(1) + ']');
      if (target.length) {
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000, function() {
          var $target = $(target);
        $target.focus();
        if ($target.is(":focus")) {
          return false;
        } else {
          $target.attr('tabindex','-1');
          $target.focus();
        };
      });
    }
  }
});
</script>
-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function($) {

  $("html, body").animate({scrollTop:$(window.location.hash).offset().top - 200 }, 500);


  // Select all links with hashes
  $('a[href*="#"]')
    // Remove links that don't actually link to anything
    .not('[href="#"]')
    .not('[href="#0"]')
    .click(function(event) {
      // On-page links
      if (
        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
        &&
        location.hostname == this.hostname
      ) {
        // Figure out element to scroll to
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        // Does a scroll target exist?
        if (target.length) {
          // Only prevent default if animation is actually gonna happen
          event.preventDefault();
          $('html, body').animate({
            scrollTop: target.offset().top - 200
          }, 1000, function() {
            // Callback after animation
            // Must change focus!
            var $target = $(target);
            $target.focus();
            if ($target.is(":focus")) { // Checking if the target was focused
              return false;
            } else {
              $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
              $target.focus(); // Set focus again
            };
          });
        }
      }
    });
  });
</script>
